@font-face {
    font-family: roboto-regular;
    src: url('Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('Roboto-Bold.ttf');
}
:root{
    --regular: roboto-regular;
    --bold: roboto-bold;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
 font-family: var(--regular);
}
.bold{
    font-weight: 600;
}
body{
    background-image: url(background.jpeg);
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    min-height: 100vh;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}
.header_banner{
    width: 100%;
    margin-bottom: 20px;
}
.header_banner .header_image{
    width: 100%;
}
.footer_banner{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer_banner .footer_image{
    width: 100%;
}
.blogs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #66666663;
}
.blogs .blog_item{
    width: 50%;
    padding: 10px;
    line-height: 1.5;
    border: 1px solid #66666663;
}
.blogs .blog_item img{
    width: 100%;
    border-radius: 30px;
}
.blogs .blog_extra{
    width: 35%;
}
.blogs .blog_item:last-child{
    flex-grow: 1;
}
.footer_content{
    text-align: center;
}
@media (max-width: 768px) {
    .blogs .blog_item{
        width: 100%;
    }
    .d-sm-none{
        display: none;
    }
}
@media (min-width: 768px) {
    .d-lg-none{
        display: none;
    }
}